@import "_reset";
@import "mixin";
@import "variables";

html {
  font-family: $font_family;
  font-size: $font_size;
}

.calendar {
  width: ($size + $square_margin) * 8;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 25%;
  left: 25%;
}

div > div {
  @include square_style;
}

div > div:hover {
  @include hover_style;
}

@for $i from 1 through 31 {
  .calendar-#{$i} {
    @for $j from 1 through $i {

      div:nth-child(#{$j}) {
        display: flex;
      }

      div:nth-child(#{$j})::after {
        content: "#{$j}";
      }
    }
  }
}

@each $day, $margiin in $days {
  .calendar-#{$day} :first-child {
    margin-left: (($size) * $margiin + ($square_margin * 3 * $margiin));
  }
}
