@mixin square_style {
  display: none;
  justify-content: center;
  align-items: center;
  flex-basis: $size;
  height: $size;
  margin-bottom: $square_margin;
  margin-right: $square_margin;
  border: 1px solid;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}

@mixin hover_style {
  background-color: #ffbfcb;
  cursor: pointer;
  transform: translate(0, -20px);
}
